#printFrame {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    position: absolute;
    top: 10vh;
    left: calc(50% - 37.5vw);
    background-color: white;
    border: 1px solid black;
}

@media print {

    .printBtn, .printFrameBtn {
        display: none;
    }
}