#printFrame {
    height: 80vh;
    width: 75vw;
    overflow: scroll;
    position: fixed;
    top: 10vh;
    left: calc(50% - 37.5vw);
    background-color: white;
    border: 1px solid black;
}

@media print {

    .printBtn, .printFrameBtn {
        display: none;
    }
}